---
import Layout from "./Layout.astro";

export interface Props {
  content: {
    title: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<Layout title={title}>
  <main>
    <article>
      <section>
        {
          heroImage && (
            <img
              src={heroImage}
              sizes="(max-width: 600px) 480px,
800px"
              alt=""
            />
          )
        }
      </section>
      <div class="slot">
        <h1 class="title">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <slot />
      </div>
    </article>
  </main>
</Layout>

<style>
  section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  img {
    height: 13rem;
    width: 100%;
    margin: 2rem 0;
  }

  title {
    margin: 2rem 0;
  }
</style>
